:root {
    --menu-bar-height: 31px;
    --menu-bar-width: 291px;

    --menu-bar-container-padding: 4px;

    --menu-bar-padding: 2px;

    --r1-height: calc(2px + var(--menu-bar-height) + 2*var(--menu-bar-container-padding));
    --r2-height: var(--r1-height);
    /* --r3-height: calc(100vh - (var(--r1-height) + var(--r2-height)); */
    --r3-height: calc(100vh - (var(--r1-height) + var(--r2-height)));

    --r3c2-r1-height: 300px;
    --r3c2-r2-height: calc(var(--r3-height) - var(--r3c2-r1-height));

    --debug-opacity: 1.0;
}

body {
    margin: 0;
    /* padding: 3px; */
}

.main-container {
    /* background-image: url('ui.png'); */

    height: 99.4vh;
    width: 99.5vw;
}


#r3c1 {
    height: 100%;
    width: 100%;
    background: magenta;
}

#r3c2 {
    height: 100%;
    width: 100%;
    background: cyan;
}

#r3c2-r1 {
    height: 300px;
    width: 100%;
    background: red;

    display: grid;
    grid-template-columns: 500px 2fr;
}

#r3c2-r1c1 {
    height: 100%;
    width: 100%;
    background: cyan;
}
#r3c2-r1c2 {
    height: 100%;
    width: 100%;
    background: hotpink;
}


#r3c2-r2 {
    height: var(--r3c2-r2-height);
    width: 100%;
    background: green;
}

#r1c2 {
    opacity: var(--debug-opacity);
    background: green;
    height: 100%;
}
#r1c1 {
    background: red;

    width: calc(1px + var(--menu-bar-width));
    height: calc(2px + var(--menu-bar-height));
    padding: var(--menu-bar-container-padding);
    background: red;
    opacity: var(--debug-opacity);
}
#r2c2 {
    opacity: var(--debug-opacity);
    background: blue;
    height: 100%;
}
#r2c1 {
    background: orange;

    width: calc(1px + var(--menu-bar-width));
    height: calc(2px + var(--menu-bar-height));
    padding: var(--menu-bar-container-padding);
    opacity: var(--debug-opacity);
}

#menu-bar {
    height: calc(31px - 2*var(--menu-bar-padding));
    width: calc(291px - 2*var(--menu-bar-padding));
    background: yellow;

    border: 1px black dashed;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: var(--menu-bar-padding);
}

.menu-bar-text {
    font-size: 11px;
}


/* .menu-bar-text:first-of-type {
    margin-left: 4px;
}

.menu-bar-text:nth-child(n+2) {
    margin-left: 1px;
}  */























/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 2px;
  font-size: 11px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}